doctype html
html
    head
        if(!user || user.group !== 'admin')
            title="Login | Admin IMD Alumni"
        else
            title=title
        link(rel='stylesheet', href='/flatlab/css/bootstrap.min.css', type="text/css")
        link(rel='stylesheet', href='/flatlab/css/bootstrap-reset.css', type="text/css")
        //external css
        link(rel="stylesheet", href="/flatlab/assets/font-awesome/css/font-awesome.css", type="text/css")
        //internal css
        link(rel="stylesheet", href="/flatlab/css/style.css", type="text/css")
        link(rel='stylesheet', href='/flatlab/css/style-responsive.css', type='text/css')
    
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    body
        if(!user || user.group !== 'admin')
            section(id="main-content")
                section(class="wrapper")
                    div(class="row")
                        div(class="col-md-6 col-md-offset-2")
                            section(class="panel")
                                div(class="panel-body")    
                                    form(role="form", action="/admin/login", method="post")
                                        div(class="form-group")
                                            label(for="inputUsername")="Username:"
                                            input(class="form-control", type="text", name="username", id="inputUsername")
                                        div(class="form-group")
                                            label(for="inputUsername")="Password:"
                                            input(class="form-control", type="password", name="password", id="inputPassword")
                                        input(class="btn btn-info", type="submit", value="Log In")
        else 
            aside
                div(id="sidebar", class="nav-collapse")
                    ul(class="sidebar-menu", id="nav-accordion")
                        li(class="active")
                            a(href="/admin")
                                i(class="fa fa-dashboard")
                                span="Overzicht"
                        li
                            a(href="/admin/new")
                                i(class="fa fa-plus")
                                span="Toevoegen"
                        li
                            a(href="/admin/delete")
                                i(class="fa fa-times")
                                span="Verwijderen"
            section(id="main-content")
                section(class="wrapper")
                    div(class="row state-overview")
                        div(class="col-lg-6 col-sm-12")
                            section(class="panel")
                                div(class="symbol red")
                                    i(class="fa fa-file-text-o")
                                div(class="value")
                                    h1(class="count")=postlist.length
                                    p="Totaal"
                        div(class="col-lg-6 col-sm-12")
                            section(class="panel")
                                div(class="symbol yellow")
                                    i(class="fa fa-star-o")
                                div(class="value")
                                    h5(class="count")=lastpost.title
                                    p="Laatst toegevoegd"
                    div(class="row")
                        div(class="col-md-12", id="posts-wrapper")
                            section(class="panel")
                                    header(class="panel-heading")="Posts - cronologische volgorde"
                                    table(class="table table-striped table-advance table-hover")
                                        thead
                                            tr
                                                th
                                                    i(class="fa fa-user")
                                                    |  Naam
                                                th
                                                    i(class="fa fa-calendar-o")
                                                    |  Date
                                                th
                                                    i(class="fa fa-file-text-o")
                                                    |  Titel
                                                th
                                                    i(class="fa fa-android")
                                                    |  Post-ID
                                        tbody
                                            each post, p in postlist
                                                tr
                                                    td=post.name
                                                    td=post.date
                                                    td=post.title
                                                    td(class="post-id")=post._id