extends layout

block content
    header
        div(class="v-center-outer")
            div(class="v-center")
                div(class="v-center-inner")
                    div(class="container")
                        h1=title
                        h2="Vier samen met ons het tienjarige bestaan van IMD"
                        p="In oktober 2015 bestaat onze opleiding Interactive Multimedia Design 10 jaar en dat willen we graag samen met jou vieren. Dat doen we binnenkort met een groot feest, maar doe in de tussentijd al wat herinneringen op door de tijdlijn."
                        a(class="button", id="check-it-out", href="#timeline")="Check it out"
                        br
                        a(target="_blank", href="http://weareimd.be")
                            img(class="imd-logo", src="/images/imd.png", alt="Interactive Multimedia Design")
                        a(target="_blank" href="http://thomasmore.be")
                            img(class="imd-logo", src="/images/tm.png", alt="Thomas More")
    div(class="timeline-div cf", id="timeline")
        ul(class="filter")
        div(class="bar")
        div(class="timeline")
            div(class="entry first")
                p(class="title")="A baby was born!"
                p(class="date")="18-09-2005"
            each post, p in postlist
                div(class="entry " + post.date.substr(post.date.length - 4))
                    if(post.asset) 
                        a(href="data:" + post.asset.content_type + ";base64," + post.asset.base.toString('base64'), class="fancybox")
                            div(class="header", style="background-image:url(data:" + post.asset.content_type + ";base64," + post.asset.base.toString('base64') + ")")
                    div(class="content")
                        p(class="title")=post.title
                        p(class="date")=post.date
                        hr
                        p(class="message")=post.message
                        img(class="profielfoto", src="https://graph.facebook.com/"+ post.user_id +"/picture")
                        p(class="naam")=post.name
        div(class="addevent", id="addevent")
            div(class="container")
                h2="Voeg een gebeurtenis toe"
                p="Was jij ooit ook een student Interactive Multimedia Design en heb je de beginjaren meegemaakt, dan kan je je hoogstwaarschijnlijk nog een leuke anekdote herinneren. Door die gebeurtenis toe te voegen aan de tijdlijn, haal je samen met ons leuke herinneringen boven."
                if(!user || user.group == 'admin')
                    a(class="log login", href="/facebook/auth/facebook")='Log in'
                else if(user.provider == 'facebook')
                    img(class="profielfoto", src="https://graph.facebook.com/"+ user.id +"/picture")
                    p(class="naam")=user.displayName  
                    a(class="log logout", href="/facebook/logout")='Log out'           
                    form(id="addPostForm",name="addpost",method="post",action="/addpost",enctype="multipart/form-data")
                        input(type="text", placeholder="Titel", name="title")
                        input(id="datepicker", type="text", placeholder="Datum", name="date")
                        textarea(placeholder="Dit weet ik nog van mijn jaren in IMD ...", name="message")
                        input(type='file', name="file" id="file")
                        button(type="submit" class="button")="Submit"
                        
    div(class="tickets", id="tickets")
        div(class="container")
            h2="Meer info"
            p
                | Binnenkort zal je online tickets kunnen bestellen om het event bij te wonen en samen met ons te vieren. Er zullen op die dag herinneringen worden boven gehaald en wij zorgen ook voor een hapje en een drankje. Wil je op de hoogte blijven? Volg ons dan via 
                a(class="sm", target="_blank", href="https://www.facebook.com/WeAreIMD")="Facebook "
                | &
                a(class="sm", target="_blank", href="https://twitter.com/weareimd")=" Twitter"

    footer
        div(class="container")
            a(target="_blank", href="http://designosource.be")
                img(class="designo-logo", src="/images/designo.png", alt="Designosource")
                     
    script(type="text/javascript", src="/javascripts/jquery-latest.min.js")
    script(type="text/javascript", src="/flatlab/js/bootstrap-datepicker.js")
    script(type="text/javascript", src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5")
    script(type="text/javascript", src="/javascripts/common.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/index.js")