extends layout

block content
    h1= title
    if(!user)
        a(href="/auth/facebook")='Log in'
    else
        a(href="/logout")='Log out'
        img(src="https://graph.facebook.com/"+ user.id +"/picture")
        form(name="addpost",method="post",action="/addpost",enctype="multipart/form-data")
            input(type="text", placeholder="Message", name="message")
            input(type='file', name="image")
            button(type="submit") submit
    if(feedback)
        each message, m in feedback
            li
                p=message.msg
    ul
        each post, p in postlist
            li
                p=post.name + ' zei: ' + post.message
                img(src=post.img.src)