extends layout

block content
    h1= title
    if(!user)
        a(href="/auth/facebook")='Log in'
    else
        a(href="/logout")='Log out'
        img(src="https://graph.facebook.com/"+ user.id +"/picture")
        form(name="addpost",method="post",action="/addpost",enctype="multipart/form-data")
            input(type="text", placeholder="Message", name="message")
            input(type='file', name="image")
            button(type="submit") submit
    if(feedback)
        each message, m in feedback
            li
                p=message.msg
    ul#postlist
        each post, p in postlist
            li
                p=post.name + ' zei: ' + post.message
                img(src=post.img.src)
                
    script(type="text/javascript", src="/javascripts/jquery-latest.min.js")
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io.connect('http://localhost:3000');
        socket.on('newObject', function (data) {
            $('#postlist').append("<li><p>" + data.message + "</p><img src='" + data.img.src + "'></li>")
        });