extends layout

block content
    header
        div(class="v-center-outer")
            div(class="v-center")
                div(class="v-center-inner")
                    div(class="container")
                        h1=title
                        h2="Vier samen met ons het tienjarige bestaan van IMD"
                        p="In oktober 2015 bestaat onze opleiding Interactive Multimedia Design 10 jaar en dat willen we graag samen met jou vieren. Dat doen we binnenkort met een groot feest, maar doe in de tussentijd al wat herinneringen op door de tijdlijn."
                        a(class="button", id="check-it-out", href="#timeline")="Check it out"
                        br
                        a(target="_blank", href="http://weareimd.be")
                            img(class="imd-logo", src="/images/imd.png", alt="Interactive Multimedia Design")
                        a(target="_blank" href="http://thomasmore.be")
                            img(class="imd-logo", src="/images/tm.png", alt="Thomas More")
    div(class="timeline-div cf", id="timeline")
        ul(class="filter")
            li(class="active")
                a(href="#")="2005"
            li
                a(href="#")="2006"
            li
                a(href="#")="2007"
            li
                a(href="#")="2008"
            li
                a(href="#")="2009"
            li
                a(href="#")="2010"
            li
                a(href="#")="2011"
            li
                a(href="#")="2012"
            li
                a(href="#")="2013"
            li
                a(href="#")="2014"
            li
                a(href="#")="2015"
        div(class="bar")
        div(class="timeline")
            div(class="entry first")
                p(class="title")="A baby was born!"
                p(class="date")="18/09/2005"
            each post, p in postlist
                div(class="entry " + post.date.substr(post.date.length - 4))
                    if(post.asset) 
                        div(class="header", style="background-image:url(" + post.asset.src + ")")
                    div(class="content")
                        p(class="title")=post.title
                        p(class="date")=post.date
                        hr
                        p(class="message")=post.message
                        img(class="profielfoto", src="https://graph.facebook.com/"+ post.user_id +"/picture")
                        p(class="naam")=post.name
                        
    div(class="tickets", id="tickets")
        div(class="container")
            h2="Meer info"
            p
                | Binnenkort zal je online tickets kunnen bestellen om het event bij te wonen en samen met ons te vieren. Er zullen op die dag herinneringen worden boven gehaald en wij zorgen ook voor een hapje en een drankje. Wil je op de hoogte blijven? Volg ons dan via 
                a(class="sm", target="_blank", href="https://www.facebook.com/WeAreIMD")="Facebook "
                | &
                a(class="sm", target="_blank", href="https://twitter.com/weareimd")=" Twitter"

    footer
        div(class="container")
            a(target="_blank", href="http://designosource.be")
                img(class="designo-logo", src="/images/designo.png", alt="Designosource")
                     
    script(type="text/javascript", src="/javascripts/jquery-latest.min.js")
    script(type="text/javascript", src="/javascripts/jquery-ui.min.js")
    script(type="text/javascript", src="/javascripts/script.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    //script.
        var socket = io.connect('http://localhost:3000');
        socket.on('newObject', function (data) {
            if(data.asset) {
                $('.timeline').append("<div class='entry'><div class='header' style='background-image:url(" + data.asset.src + ")'></div><div class='content'><p class='title'>" + data.title + "</p><p class='date'>" + data.date + "</p><hr><p class='message'>" + data.message + "</p><img class='profielfoto' src='https://graph.facebook.com/" + data.user_id + "/picture'><p class='naam'>" + data.name + "</p></div></div>");
            } else {
                $('.timeline').append("<div class='entry'><div class='content'><p class='title'>" + data.title + "</p><p class='date'>" + data.date + "</p><hr><p class='message'>" + data.message + "</p><img class='profielfoto' src='https://graph.facebook.com/" + data.user_id + "/picture'><p class='naam'>" + data.name + "</p></div></div>");
            }
        });