extends layout

block content
    h1= title
    if(!user)
        a(href="/auth/facebook")='Log in'
    else
        a(href="/logout")='Log out'
        img(src="https://graph.facebook.com/"+ user.id +"/picture")
        form(name="addpost",method="post",action="/addpost",enctype="multipart/form-data")
            input(type="text", placeholder="Message", name="message")
            input(type='file', name="image")
            button(type="submit") submit
    ul
        each post, p in postlist
            li
                p=post.name + ' zei: ' + post.message
                img(src=post.img.src)
                //if(post.img.type == 'image/png' || post.img.type == 'image/jpeg' || post.img.type == 'image/gif')
                    img(src="data:" + post.img.type + ";base64," + post.img.data)